@charset "ISO-8859-1";

#head{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: aliceblue;
}

a{
	background-color: aliceblue;
	color: black;
     font-size: 20px;
}


#sign
{
	color: green;
}